
html{
    background-color: darkgrey;
}
.inputBox{
    box-shadow: 1px 1px 5px darkgray inset;
    margin-top: 10px;
    height: 45px;
    width: 300px;
    border: none;
    border-radius: 3px;
    font-size: 100%;
    padding: 5px 10px;;
    outline: none;
    transition: width;
    transition-duration: 1s;
}

.submitButton{
    font-size: large;
    margin-top: 30px;
    color: aliceblue;
    outline: none;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;
    transition: width;
    background-color: cornflowerblue;
    transition-duration: 1s;
}

.submitButton:hover{
   width: 230px;
}

.submitButton:active{
    background-color: steelblue;
}

#mainFormDiv{
    box-shadow: 3px 3px 5px rgba(41, 84, 115, 0.37);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 3px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: slategray;
    margin-left: -180px;
    margin-top: -200px;
    width: 360px;
    height: 260px;
}

 #inputDiv{
     margin-top: 20px;
    text-align: center;
    width: 100%;
    height: auto;
}
#loginText{
    margin-left: 30px;
    color: aliceblue;
    font-size: x-large;
}